.page-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 100vh;
}

.app-bg {
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  min-height: 50vh;
  max-width: 50vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 49px;
  font-family: 'roboto';
}
button {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
  border-radius: 10px;
  width: 120px;
  border-width: 0px;
  color: #334155;
}
.num-type {
  font-size: 16px;
  font-weight: bold;
  color: #334155;
}
.note {
  font-size: 10px;
  color: #334155;
}
